---
---
{% include header.html %}
<div class="py-4 bg-dark text-white mb-5">
<div class="container">
<div class="row">
<div class="col-12">
<h1 class="display-4">Donate</h1>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="display-4">General Funds</h2>
<p class="lead">General donations will go into our scholarship fund to be used for our annual scholarship distributions to MYLA recipients.</p>
<a target="_blank" href="https://secure.lglforms.com/form_engine/s/SPIsaWClSLk03ImI8tc6ow" class="btn btn-primary">Donate</a>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="display-4">Endowment</h2>
<p class="lead">For our Endowment campaign, we are asking you to contribute $9/month. If you would like to contribute more, please indicate. Jazakallah Khair</p>
<a href="/endowment" class="btn btn-primary">Learn more</a>
<a target="_blank" href="https://secure.lglforms.com/form_engine/s/-alRcac16ARvs16EXc_glw" class="btn btn-primary">Donate</a>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="display-4">Donate By Check</h2>
<p class="lead p-0 m-0">Please make checks payable to MYLA. Our mailing address is:</p>
<p class="lead p-0 m-0">MYLA Donations</p>
<p class="lead p-0 m-0">P.O. Box 32628</p>
<p class="lead p-0 m-0">Fridley, MN 55432</p>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="display-4">Disclaimer</h2>
<p class="lead">We are section 501(c)3 approved and all donations are tax deductible.</p>
</div>
</div>
</div>
</div>
{% include footer.html %}