---
---
{% include header.html %}
<div class="py-4">
    <div class="container">
        <div class="card card-body bg-light">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="display-4">Application Cycle</h2>
                    <p class="lead">Applications are now open for the 2020-2021 academic school year. Apply today! Learn more about our <a href="/programs">programs</a>.</p>
                </div>
                <!-- <div class="col-md-12">
                    <img src="https://images.mylawards.org/2019-20-recipients.jpg" class="img-fluid rounded" alt="2018-19 Recipients">
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- <div class="my-2 bg-light">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-12 ">
                <h2 class="display-4">Application Cycle</h2>
                <p class="lead">Application cycle has been completed for this year and recipients have been announced. <a
                        href="https://mailchi.mp/6d936154e5b8/congratulations-grads-220417">Learn more!</a></p>
                <div class="py-3 row">
                    <div class="col-3 px-1">
                        <div class="text-center bs-wizard-stepnum">Step 1</div>
                        <div class="progress bg-success"></div>
                        <div class="bs-wizard-info text-center">Application Started</div>
                    </div>
                    <div class="col-3 px-1">
                        <div class="text-center bs-wizard-stepnum">Step 2</div>
                        <div class="progress bg-success">
                            <div class="progress-bar"></div>
                        </div>
                        <div class="bs-wizard-info text-center">Application Ended</div>
                    </div>
                    <div class="col-3 px-1">
                        <div class="text-center bs-wizard-stepnum">Step 3</div>
                        <div class="progress bg-success">
                        </div>
                        <div class="bs-wizard-info text-center">In Review</div>
                    </div>
                    <div class="col-3 px-1">
                        <div class="text-center bs-wizard-stepnum">Step 4</div>
                        <div class="progress bg-success">
                        </div>
                        <div class="bs-wizard-info text-center">Recipients Announced</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="py-4">
    <div class="container">
      <div class="card card-body bg-light">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="display-4">Strengths Finder Education Session</h2>
            <p class="">This is the last session of MYLA's series of StrengthsFinder Workshops this year.
              Its mandatory for MYLA recipients for the year 2018-2019.
            </p>
            <p class="lead  mb-0"><i class="fa fa-calendar" aria-hidden="true"></i> Saturday, November 3rd</p>
            <p class="lead  mb-0"><i class="fa fa-clock-o" aria-hidden="true"></i> 9:00 a.m. to 12:30 p.m.</p>
            <p class="lead"><i class="fa fa-map-marker" aria-hidden="true"></i> Champlin Meeting Room
                <a href="https://www.google.com/maps/place/12154+Ensign+Ave+N,+Champlin,+MN+55316/@45.1747402,-93.3961549,17z/data=!3m1!4b1!4m5!3m4!1s0x52b33ecd3bd24593:0x4b95bee7223918d1!8m2!3d45.1747402!4d-93.3939662">12154 Ensign Ave. N
                Champlin, MN 55316</a></p>
          </div>
          <div class="col-lg-4">
            <div class="bg-white" style="width:283px; height:283px; overflow: hidden; border-radius: 50%;align-self: center; justify-content:center; display: flex;">
            <img class="img-fluid " style="align-self: center; display: flex;" src="https://images.mylawards.org/MYLA%20StrengthsFinder.jpg" alt="Card image">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">MYLA - Muslim Youth Leadership Awards</h1>
                <p class="lead">We Identify, Develop, Connect future leaders by providing scholarships,
                    educational/skill building activities and programs
                    for individuals who have a track record and continued commitment for community service.</p>
                <a href="/about.html" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </div>
</div>
<div class="pt-4" id="programs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="display-4">Programs We Offer</h2>
            </div>
        </div>
    </div>
</div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 pb-3 pr-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title display-5">General Scholarship</h5>
                        <p class="card-text lead">High school graduates who are full- time, degree-seeking students
                            attending an accredited higher education institution
                            in the state of Minnesota during the entire current academic school year may benefit from
                            this scholarship program.</p>
                        {% include applink-message.html %}
                        {% include applink-scholar-btn.html %}
                        <a href="/mscholarship.html" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pb-3 pr-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title display-5">Interest-free Loans</h5>
                        <p class="card-text lead">In partnership with A Continuous Charity (ACC), MYLA offers Interest-
                            free Loans to students who are starting their
                            higher education, or to students who started their higher education but need more financial
                            support to complete
                            their degree, or to graduates who have finished their higher education but have unpaid
                            interest-based loans.</p>
                        {% include applink-message.html %}
                        {% include applink-scholar-btn.html %}
                        <a href="/loan.html" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title display-5">Islamic Education Scholarship</h5>
                        <p class="card-text lead">High school graduates who are seeking an Islamic Education degree as
                            a full-time student from an accredited Islamic
                            Education institution may benefit from this scholarship program.</p>
                        {% include applink-message.html %}
                        {% include applink-scholar-btn.html %}
                        <a href="ischolarship.html" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="display-4">Our Statistics</h2>
            </div>
        </div>
    </div>
</div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 pb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title display-5">Total Scholarships Distributed</h5>
                        <p class="display-4">$
                            <span id="SchDis" class="display-4 odometer">398500</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title display-5">Average Annual Scholarships</h5>
                        <p class="display-4">$
                            <span id="SchAnn" class="display-4 odometer">25000</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title display-5">Number of Individual Scholarship</h5>
                        <p class="display-4">
                            <span id="SchInd" class="display-4 odometer">100</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- enable/disable app buttons -->
{% include applink-logic.html %}
<!-- enable/disable buttons end-->
<!-- odometer resources -->
<link rel="stylesheet" href="components/odometer.css">
<script src="components/odometer.js"></script>
<script>
    JqueryFuncs.push(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() >= $('#SchDis').offset().top - $(this).height()) {
                setTimeout(function () {
                    $('#SchDis').html("488110");
                    $('#SchAnn').html("30000");
                    $('#SchInd').html("177");
                }, 0);
            }
        });

    });

</script>
<!-- odometer resources end-->
{% include footer.html %}