---
---
{% include header.html %}
<div class="py-4 bg-dark text-white mb-5">
<div class="container">
<div class="row">
<div class="col-12">
<h1 class="display-4">Islamic Education Scholarship</h1>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<p class="lead">Effective 2018, MYLA is pleased to introduce a dedicated scholarship to students who are seeking an Islamic
Education degree from an accredited institution. </p>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="display-4">Eligibility Requirement</h2>
<ul>
<li class="lead m-0 p-0">Completed application MUST be electronically submitted by 11:59 p.m. CT on March 31. Incomplete applications
or applications received after the deadline will not be reviewed. </li>
<li class="lead m-0 p-0">Minimum GPA of 2.5 on a 4.0 scale (but not an absolute) </li>
<li class="lead m-0 p-0">Completed Essays.</li>
<li class="lead m-0 p-0">In addition to the regular essay, complete the Islamic Education related essay from the specialized
essay section to receive bonus credit.</li>
<li class="lead m-0 p-0">Two Letters of Recommendation.</li>
<li class="lead m-0 p-0">Immediate family members of MYLA Board members are ineligible to receive the scholarships. For further
clarification, please contact MYLA. </li>
<li class="lead m-0 p-0">All scholarships and financial assistance shall be limited to U.S. citizens or Permanent Residents
enrolled in an accredited Islamic educational institution.</li>
</ul>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="display-4">Interview</h2>
<p class="lead">Finalists will be notified for an interview 6 weeks after application deadline. Review Committee will
determine the need for additional documentation including but not limited to the following:</p>
<ol>
<li class="lead m-0 p-0">Original School transcript</li>
<li class="lead m-0 p-0">Identity Verification</li>
</ol>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="display-4">When Selected</h2>
<p class="lead">Once chosen for a Islamic Education scholarship, the recipient will be required to take part in a community
service project or training within one year of receiving the scholarship. This project/training will
be chosen by the MYLA board and will be a collective effort that includes all MYLA recipients while
supervised by a MYLA board member.</p>
</div>
</div>
</div>
</div>
<div class="py-1">
<div class="container">
<div class="row">
<div class="col-12">
{% include scholarship-link.html %}
</div>
</div>
</div>
</div>
{% include footer.html %}