---
---
{% include header.html %}
<div class="py-4 bg-dark text-white mb-5">
<div class="container">
<div class="row">
<div class="col-12">
<h1 class="display-4">Merit-based Scholarship</h1>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<p class="lead">“Identify, Develop, Connect Leaders by Investing in their Futures.” Today's youth are the future leaders
of our community and should be the focus of our future planning. Every community must invest ample
energy, resources, and money to support their youth and provide them with the necessary opportunities
to become role models and leaders in tomorrow's society. </p>
<p class="lead">The Muslim Youth Leadership Awards (MYLA) was established in 2003 to assist and encourage future leaders
to achieve excellence in their education while actively participating in community service activities.
Applicants enrolled in a full-time law program or a full-time journalism program for the current
academic year as well as students active in political activism in the past three years, earn bonus
credits by completing a required essay question relevant to their course of study. </p>
</div>
</div>
</div>
</div>
<div class="py-4 ">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="display-4">Eligibility Requirements</h2>
<ol>
<li class="lead m-0 p-0">Completed application MUST be electronically submitted by 11:59 p.m. CT on March 31. Incomplete applications
or applications received after the deadline will not be reviewed. </li>
<li class="lead m-0 p-0">Applicants MUST have graduated from high school by the current Spring semester. </li>
<li class="lead m-0 p-0">Applicants MUST be full-time, degree-seeking students attending an accredited higher education institution
in the state of Minnesota during the entire current academic school year.</li>
<li class="lead m-0 p-0">Minimum GPA of 2.5 on a 4.0 scale. </li>
<li class="lead m-0 p-0">Completed Essay(s).</li>
<li class="lead m-0 p-0">Full-time law students, full-time journalism students, and students who have actively engaged in
political activism should complete one section of the specialized essays in addition to general
essays to receive bonus credit.  </li>
<li class="lead m-0 p-0">Two Letters of Recommendation.</li>
<li class="lead m-0 p-0">An individual can receive no more than $10,000 in MYLA scholarships over the past four academic school
years. </li>
<li class="lead m-0 p-0">Immediate family members of MYLA Board members are ineligible to receive the scholarships. For further
clarification, please contact MYLA. </li>
<li class="lead m-0 p-0">All scholarships and financial assistance shall be limited to U.S. citizens or Permanent Residents
enrolled in an accredited educational institution in Minnesota only, or Minnesota residents enrolled
in accredited online programs. MYLA will not award scholarships to students enrolled in educational
institutions outside of the Minnesota. Any other unique situations will be determined on a case-by-case
basis.
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="display-4">Interview</h2>
<p class="lead">Finalists will be notified for an interview 6 weeks after application deadline. Review Committee will
determine the need for additional documentation including but not limited to the following:</p>
<ol>
<li class="lead m-0 p-0">Original School transcript</li>
<li class="lead m-0 p-0">Identity Verification</li>
</ol>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="display-4">When Selected</h2>
<p class="lead">Once chosen for a MYLA scholarship, the recipient will be required to take part in a community service project or training within one year of receiving the scholarship. This project/training will be chosen by the MYLA board and will be a collective effort that includes all MYLA recipients while supervised by a MYLA board member.</p>
</div>
</div>
</div>
</div>
<div class="py-1">
<div class="container">
<div class="row">
<div class="col-12">
    {% include applink-message.html %}
    {% include applink-scholar-btn.html %}
    {% include applink-logic.html %}
<a href="/donate.html" class="btn btn-primary">Make a Donation</a>
</div>
</div>
</div>
</div>
{% include footer.html %}