---
---
{% include header.html %}
<div class="py-4 bg-dark text-white mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4">Programs</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4">General Scholarship</h1>
        <p class="lead">High school graduates who are full- time, degree-seeking students attending an accredited higher
          education
          institution in the state of Minnesota during the entire current academic school year may benefit
          from this scholarship program.</p>
        <p>To be eligible for a general scholarship, an applicant must demonstrate financial need by determining
          eligibility based on the grid below. Please note that all applicants are eligible for an interest-free loan.
          If you do not meet the eligibility criteria below, you are free to select "Interest-free Loan" as award type
          on the application.</p>
        <table class="table">
          <thead>
            <tr>
              <th>Household size</th>
              <th>Adjusted gross income not to exceed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1-3 people</td>
              <td>$80,000.00</td>
            </tr>
            <tr>
              <td scope="row">4</td>
              <td>$90,000.00</td>
            </tr>
            <tr>
              <td scope="row">5</td>
              <td>$100,000.00</td>
            </tr>
            <tr>
              <td scope="row">6</td>
              <td>$110,000.00</td>
            </tr>
            <tr>
              <td scope="row">7</td>
              <td>$120,000.00</td>
            </tr>
            <tr>
              <td scope="row">For each additional family member</td>
              <td>Add $5,00.00</td>
            </tr>
          </tbody>
        </table>
        <p>Applying for a general scholarship but based outside MN? Please fill out our Exception Request Form in order for MYLA's board to discuss your eligibility.</p>
        {% include applink-message.html %}
        {% include applink-scholar-btn.html %}
        <a href="/mscholarship.html" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>
<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="display-4">Interest-free Loans</h5>
        <p class="lead">In partnership with A Continuous Charity (ACC), MYLA offers Interest- free Loans to students who
          are
          starting their higher education, or to students who started their higher education but need more
          financial support to complete their degree, or to graduates who have finished their higher education
          but have unpaid interest-based loans.</p>
        {% include applink-message.html %}
        {% include applink-loan-btn.html %}
        <a href="loan.html" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>
<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="display-4">Islamic Education Scholarship</h5>
        <p class="lead">High school graduates who are seeking an Islamic Education degree as a full-time student from an
          accredited
          Islamic Education institution may benefit from this scholarship program.</p>
        {% include applink-message.html %}
        {% include applink-scholar-btn.html %}
        <a href="/ischolarship.html" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>
{% include applink-logic.html %}
{% include footer.html %}