---
---
{% include header.html %}
<div class="py-4 bg-dark text-white mb-5">
<div class="container">
<div class="row">
<div class="col-12">
<h1 class="display-4">Programs</h1>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h1 class="display-4">Merit-based Scholarship</h1>
<p class="lead">High school graduates who are full- time, degree-seeking students attending an accredited higher education
institution in the state of Minnesota during the entire current academic school year may benefit
from this scholarship program. Pursuing Journalism or Law degree? Earn bonus points by submitting
an extra essay.</p>
{% include applink-message.html %}
{% include applink-scholar-btn.html %}
<a href="/mscholarship" class="btn btn-primary">Learn more</a>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h5 class="display-4">Interest-free Loans</h5>
<p class="lead">In partnership with A Continuous Charity (ACC), MYLA offers Interest- free Loans to students who are
starting their higher education, or to students who started their higher education but need more
financial support to complete their degree, or to graduates who have finished their higher education
but have unpaid interest-based loans.</p>
{% include applink-message.html %}
{% include applink-loan-btn.html %}
<a href="loan" class="btn btn-primary">Learn more</a>
</div>
</div>
</div>
</div>
<div class="py-4">
<div class="container">
<div class="row">
<div class="col-12">
<h5 class="display-4">Islamic Education Scholarship</h5>
<p class="lead">High school graduates who are seeking an Islamic Education degree as a full-time student from an accredited
Islamic Education institution may benefit from this scholarship program.</p>
{% include applink-message.html %}
{% include applink-scholar-btn.html %}
<a href="/ischolarship" class="btn btn-primary">Learn more</a>
</div>
</div>
</div>
</div>
{% include applink-logic.html %}
{% include footer.html %}