<footer>
 <div class="py-4 bg-dark text-white">
  <div class="container">
   <div class="row">
    <div id="mc_embed_signup" class="col-12">
     <p class="lead text-center">Sign up to our newsletter</p>
     <form class="d-flex flex-wrap justify-content-center align-items-center gap-2 validate" action="https://mylawards.us20.list-manage.com/subscribe/post?u=13239ef5de3cb3ee92ab0c778&amp;id=c9d17329ba"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>

      <input type="email" class="form-control w-auto" name="EMAIL" id="mce-EMAIL" placeholder="Your e-mail here">
      <input type="submit" class="btn btn-primary my-2 mx-2" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
      <div id="mce-responses" class="clear">
       <div class="response" id="mce-error-response" style="display:none"></div>
       <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
       <input type="text" name="b_74004b853ac2bd46e76b96ba7_93c256bffc" tabindex="-1" value="">
      </div>
     </form>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12 mt-3 text-center">
     <p>&copy; Copyright <span id="copyright-year"></span> MYLA - All rights reserved.</p>
     <script>document.getElementById('copyright-year').textContent = new Date().getFullYear();</script>
    </div>
   </div>
  </div>
 </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script>
 // Run any init functions registered by individual pages (plain JS, no jQuery).
 for (var i = 0; i < JqueryFuncs.length; i++) { JqueryFuncs[i](); }
</script>
<script defer src="pwa/pwabuilder-sw-register.js"></script>
</body>

</html>
